src/KpiManager/[Dd]ebug/
src/KpiManager/[Dd]ebugPublic/
src/KpiManager/[Rr]elease/
src/KpiManager/[Rr]eleases/
src/KpiManager/x64/
src/KpiManager/x86/
src/KpiManager/bld/
src/KpiManager/[Bb]in/
src/KpiManager/[Oo]bj/
src/KpiManager/[Ll]og/