@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="col-md-3">
        <h2>Clients</h2>
        <p>Enter data that exists in the Clients db. Such as Client data source Ids and Location Guids.</p>
    </div>
    <div class="col-md-3">
        <h2>Data Fields</h2>
        <p>On these pages you can enter data related to how the Data Source XML/JSON Data is modeled</p>
    </div>
    <div class="col-md-3">
        <h2>KPIs</h2>
        <p>Here you can enter data related to the nomenclature of KPIs and what calculation strategies related to each.</p>
    </div>
    <div class="col-md-3">
        <h2>Metrics</h2>
        <p>The metrics pages is where you can define a metric and define the formulas that make up a metric.</p>
    </div>
</div>
