@model KpiManager.FormulaOperation

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>FormulaOperation</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="FormulaOperationId" />
        <div class="form-group">
            <label asp-for="CreatedBy" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CreatedBy" class="form-control" />
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CreatedDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CreatedDate" class="form-control" />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MetricFormulaId" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="MetricFormulaId" class="form-control" asp-items="ViewBag.MetricFormulaId"></select>
                <span asp-validation-for="MetricFormulaId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ModifiedBy" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ModifiedBy" class="form-control" />
                <span asp-validation-for="ModifiedBy" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ModifiedDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ModifiedDate" class="form-control" />
                <span asp-validation-for="ModifiedDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="OperandId" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="OperandId" class="form-control" asp-items="ViewBag.OperandId"></select>
                <span asp-validation-for="OperandId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="OperationOrder" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="OperationOrder" class="form-control" />
                <span asp-validation-for="OperationOrder" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="OperatorId" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="OperatorId" class="form-control" asp-items="ViewBag.OperatorId"></select>
                <span asp-validation-for="OperatorId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
