@model KpiManager.Operand

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Operand</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="OperandId" />
        <div class="form-group">
            <label asp-for="CreatedBy" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CreatedBy" class="form-control" />
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CreatedDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CreatedDate" class="form-control" />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ModifiedBy" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ModifiedBy" class="form-control" />
                <span asp-validation-for="ModifiedBy" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ModifiedDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ModifiedDate" class="form-control" />
                <span asp-validation-for="ModifiedDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="OperandDataFieldId" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="OperandDataFieldId" class="form-control" asp-items="ViewBag.OperandDataFieldId"></select>
                <span asp-validation-for="OperandDataFieldId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="OperandDataTypeId" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="OperandDataTypeId" class="form-control" asp-items="ViewBag.OperandDataTypeId"></select>
                <span asp-validation-for="OperandDataTypeId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="OperandValue" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="OperandValue" class="form-control" />
                <span asp-validation-for="OperandValue" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
