@model KpiManager.DataFieldRelationship

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>DataFieldRelationship</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FieldSource)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FieldSource.DataFieldName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FieldTarget)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FieldTarget.DataFieldName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
